<!-- ============================================================
     Lifted verbatim from the live Canvas front page, with one
     correction:  the GitHub heading read "Git Hub".
     The two software headings were demoted from h2 to h3, since they now
     sit under the generated "What you need" heading.
     Canvas file IDs belong to course 3102 and must stay as written.
     Edit this file, then re-run build_canvas_html.ps1.
     ============================================================ -->
<p>There are a couple of pieces of Software you will need for this class:</p>
<h3>GitHub</h3>
<p>First off, lets create your GitHub account:&nbsp; <a class="inline_disabled" href="https://github.com/signup?ref_cta=Sign+up&amp;ref_loc=header+logged+out&amp;ref_page=%2F&amp;source=header-home" target="_blank" rel="noopener">Click Here</a> and follow the instructions.</p>
<p>After you have created your GitHub account, <a class="inline_disabled" href="https://desktop.github.com/" target="_blank" rel="noopener">download GitHub Desktop</a> and install the application.&nbsp; We'll get you signed into in class.</p>
<h3>JetBrains Rider</h3>
<p>The IDE we will be using is called Rider.&nbsp; You can <a class="inline_disabled" href="https://www.jetbrains.com/rider/download/#section=mac" target="_blank" rel="noopener">download it here</a>.&nbsp; Lastly, let's set up your JetBrains account so you can license the software for free.</p>
<p><a class="inline_disabled" href="https://account.jetbrains.com/login" target="_blank" rel="noopener">Click this Link</a> and follow the Account Creation steps.</p>
<p><img src="https://winsor.instructure.com/courses/3102/files/456091/preview" alt="Screen Shot 2021-07-13 at 8.02.48 AM.png" width="576" height="293" data-api-endpoint="https://winsor.instructure.com/api/v1/courses/3102/files/456091" data-api-returntype="File" />&nbsp;</p>
<p>After Signing up, you will receive an Email with a link.</p>
<p><img src="https://winsor.instructure.com/courses/3102/files/456095/preview" alt="Screen Shot 2021-07-13 at 8.08.02 AM.png" width="640" height="371" data-api-endpoint="https://winsor.instructure.com/api/v1/courses/3102/files/456095" data-api-returntype="File" />&nbsp;</p>
<p>From here, choose "Apply for a free student or teacher license"</p>
<p><img src="https://winsor.instructure.com/courses/3102/files/456098/preview" alt="Screen Shot 2021-07-13 at 8.10.51 AM.png" width="726" height="424" data-api-endpoint="https://winsor.instructure.com/api/v1/courses/3102/files/456098" data-api-returntype="File" />&nbsp;</p>
<p>Finally, fill out the form as required.&nbsp; Make sure to use your Winsor email account.</p>
<p><img src="https://winsor.instructure.com/courses/3102/files/456101/preview" alt="Screen Shot 2021-07-13 at 8.11.32 AM.png" width="626" height="361" data-api-endpoint="https://winsor.instructure.com/api/v1/courses/3102/files/456101" data-api-returntype="File" />&nbsp;</p>
